# Goodreads analysis

This is an analysis beased on a dataset of Goodreads data downloaded from Kaggle.
This data set contains information of book title, author, average rating, isbn, languange, pages, numbers of reviews received, number of text review recieved, publication day, and publisher.
Ccolumn names are 'bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13', 'language_code', 'num_pages', 'ratings_count', 'text_reviews_count', 'publication_date', 'publisher'.

The key questions I would like to answer through analysis include:
1. More and more books published? Changes on numbers of books published through time;
2. Most productive author: The author has the highest number of published books;
3. Which book is the best? The book has the highest average rating (with and without adjusted by number of reviews);
4. Which book received the most reviews?
5. Underrated gem: which book has a high rating but few reviews;
6. Which author has a overall highest rating?
7. Is there a correlation between the length of book and rating/number of reviews
To answer the above questions, I will first check general statistic of this database, then address questions one by one.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
#import the dataset as dataframe
file_path = r"C:\Users\yama4971\Desktop\kaggle\books.xlsx"
df = pd.read_excel(file_path)
print(df.columns)

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', '  num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher', 'Unnamed: 12'],
      dtype='object')

In [3]:
#delete the space in column names and droped the last empty column
df.columns = df.columns.str.strip()
df = df.drop(df.columns[-1], axis=1)
print(df.columns)

Index(['bookID', 'title', 'authors', 'average_rating', 'isbn', 'isbn13',
       'language_code', 'num_pages', 'ratings_count', 'text_reviews_count',
       'publication_date', 'publisher'],
      dtype='object')

In [4]:
#count how many records 
num_rows = len(df.index)
print("Number of rows excluding column names:", num_rows)

Number of rows excluding column names: 11127

In [5]:
#check if any NA value exsits
any_missing_values = df.isna().any().any()
print(any_missing_values)

False

In [6]:
#find duplicated books existing in the dataset, filter by book title and author
duplicated_records = df[df.duplicated(subset=['title', 'authors'], keep=False)]
num_duplicated_records = df['title'].duplicated(keep=False).sum()
print(duplicated_records)
print(num_duplicated_records)

       bookID                                              title  \
9          14  The Hitchhiker's Guide to the Galaxy (Hitchhik...
12         21               A Short History of Nearly Everything
13         22                        Bill Bryson's African Diary
22         31  The Lord of the Rings (The Lord of the Rings  ...
23         34  The Fellowship of the Ring (The Lord of the Ri...
...       ...                                                ...
11046   45314                                 Kafka on the Shore
11047   45316                                 Sputnik Sweetheart
11066   45414         The Locked Room (The New York Trilogy  #3)
11084   45485          The Subtle Knife (His Dark Materials  #2)
11100   45536                                        On the Road

                              authors average_rating        isbn  \
9                       Douglas Adams           4.22  1400052920
12                        Bill Bryson           4.21  076790818X
13                        Bill Bryson           3.44   767915062
22                     J.R.R. Tolkien            4.5   618517650
23                     J.R.R. Tolkien           4.36   618346252
...                               ...            ...         ...
11046  Haruki Murakami/Philip Gabriel           4.14  1400043662
11047  Haruki Murakami/Philip Gabriel           3.83   375411690
11066                     Paul Auster           3.89   140097368
11084                  Philip Pullman           4.13   807210471
11100       Jack Kerouac/Ann Charters           3.63   142437255

              isbn13 language_code num_pages  ratings_count  \
9      9780000000000           eng       215           4930
12     9780000000000           eng       544         248558
13     9780000000000           eng        55           7270
22     9780000000000           eng      1184           1710
23     9780000000000           eng       398        2128944
...              ...           ...       ...            ...
11046  9780000000000         en-US       436           1989
11047  9780000000000           eng       210            582
11066  9780000000000         en-US       192             62
11084  9780000000000           eng         8             39
11100  9780000000000         en-US       307           3271

       text_reviews_count     publication_date                  publisher
9                     460  2004-08-03 00:00:00                      Crown
12                   9396  2004-09-14 00:00:00             Broadway Books
13                    499  2002-12-03 00:00:00             Broadway Books
22                     91  2004-10-21 00:00:00  Houghton Mifflin Harcourt
23                  13670  2003-09-05 00:00:00  Houghton Mifflin Harcourt
...                   ...                  ...                        ...
11046                 315  2005-01-26 00:00:00     Knopf Publishing Group
11047                  92  2001-04-24 00:00:00            Alfred A. Knopf
11066                   3  1988-01-05 00:00:00              Penguin Books
11084                   8  2000-01-28 00:00:00          Listening Library
11100                 342  2006-01-03 00:00:00           Penguin Classics

[574 rows x 12 columns]
1262

In [7]:
#for duplicated record, only keep the record with the highest number of ratings_count
sorted_df = df.sort_values(by='ratings_count', ascending=False)
duplicated_mask = sorted_df.duplicated(subset=['title', 'authors'], keep='first')
filtered_df = sorted_df[~duplicated_mask]
num_rows_filtered = len(filtered_df.index)
print("Number of rows after filtered", num_rows_filtered)

Number of rows after filtered 10816

In [8]:
#from now on, I will only use the filtered dataframe for analysis, in total 10816 books
#count how many languages of books involved
language_counts = filtered_df['language_code'].value_counts()
print(language_counts)

eng              8679
en-US            1360
spa               207
en-GB             198
fre               140
ger                96
jpn                46
mul                19
zho                14
grc                11
por                10
en-CA               7
ita                 5
9780000000000       4
enm                 3
lat                 3
swe                 2
rus                 2
tur                 1
ara                 1
ale                 1
nor                 1
nl                  1
glg                 1
msa                 1
gla                 1
wel                 1
srp                 1
Name: language_code, dtype: int64

In [9]:
#search for rows with the language code being 9780000000000 
rows_with_wrong_language = filtered_df[filtered_df['language_code'] == 9780000000000]
print(rows_with_wrong_language)

      bookID                                              title  \
4702   16914                  The Tolkien Fan's Medieval Reader
5877   22128                     Patriots (The Coming Collapse)
3348   12224  Streetcar Suburbs: The Process of Growth in Bo...
8979   34889  Brown's Star Atlas: Showing All The Bright Sta...

                                       authors  \
4702  David E. Smith (Turgon of TheOneRing.net
5877                              James Wesley
3348                           Sam Bass Warner
8979                                     Brown

                                         average_rating  isbn      isbn13  \
4702   one of the founding members of this Tolkien w...  3.58  1593600119
5877                                             Rawles  3.63  156384155X
3348                                  Jr./Sam B. Warner  3.58   674842111
8979                                     Son & Ferguson     0   851742718

      language_code num_pages  ratings_count  text_reviews_count  \
4702  9780000000000       eng            400                  26
5877  9780000000000       eng            342                  38
3348  9780000000000     en-US            236                  61
8979  9780000000000       eng             49                   0

     publication_date            publisher
4702                4  2004-04-06 00:00:00
5877                4  1999-01-15 00:00:00
3348                6  2004-04-20 00:00:00
8979                0  1977-05-01 00:00:00

In [10]:
#these four records have wrong inputs. need to delete one column and then move all the columns behind one step forward
rows_with_wrong_language['average_rating'] = np.nan
for col in range(4, len(rows_with_wrong_language.columns)):
    rows_with_wrong_language.iloc[:, col - 1] = rows_with_wrong_language.iloc[:, col]
print(rows_with_wrong_language)

      bookID                                              title  \
4702   16914                  The Tolkien Fan's Medieval Reader
5877   22128                     Patriots (The Coming Collapse)
3348   12224  Streetcar Suburbs: The Process of Growth in Bo...
8979   34889  Brown's Star Atlas: Showing All The Bright Sta...

                                       authors average_rating        isbn  \
4702  David E. Smith (Turgon of TheOneRing.net           3.58  1593600119
5877                              James Wesley           3.63  156384155X
3348                           Sam Bass Warner           3.58   674842111
8979                                     Brown              0   851742718

             isbn13 language_code  num_pages  ratings_count  \
4702  9780000000000           eng        400             26
5877  9780000000000           eng        342             38
3348  9780000000000         en-US        236             61
8979  9780000000000           eng         49              0

     text_reviews_count     publication_date            publisher
4702                  4  2004-04-06 00:00:00  2004-04-06 00:00:00
5877                  4  1999-01-15 00:00:00  1999-01-15 00:00:00
3348                  6  2004-04-20 00:00:00  2004-04-20 00:00:00
8979                  0  1977-05-01 00:00:00  1977-05-01 00:00:00

C:\Users\yama4971\AppData\Local\Temp\ipykernel_7244\3209200227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_with_wrong_language['average_rating'] = np.nan
C:\Users\yama4971\AppData\Local\Temp\ipykernel_7244\3209200227.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rows_with_wrong_language.iloc[:, col - 1] = rows_with_wrong_language.iloc[:, col]
C:\Users\yama4971\AppData\Local\Temp\ipykernel_7244\3209200227.py:4: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  rows_with_wrong_language.iloc[:, col - 1] = rows_with_wrong_language.iloc[:, col]

In [11]:
#copy the updated record back to the dtaframe used for analysis
up_filtered_df = filtered_df.copy()
index_values = rows_with_wrong_language.index.tolist()
print(index_values)
for row in index_values:
    up_filtered_df.loc[row] = rows_with_wrong_language.loc[row]
print(up_filtered_df[up_filtered_df['bookID']==3348])

[4702, 5877, 3348, 8979]
     bookID           title                        authors average_rating  \
986    3348  The Cod's Tale  Mark Kurlansky/S.D. Schindler           3.91

          isbn         isbn13 language_code num_pages  ratings_count  \
986  399234764  9780000000000           eng        48            127

     text_reviews_count     publication_date  \
986                  25  2001-09-10 00:00:00

                                      publisher
986  G.P. Putnam's Sons Books for Young Readers

## desciptive plot of the dataset

In [12]:
# check the data type in the column of 'publication_date'
set(up_filtered_df['publication_date'].apply(type))
# there is wrong data type, probably wrong date input

{datetime.datetime, str}

In [23]:
#find cells that are not datetime type
import datetime
print(up_filtered_df.loc[43,'publication_date'])
print(up_filtered_df.head(44))
for i in range(0,len(up_filtered_df['publication_date'])):
    print(i)
    if type(up_filtered_df.loc[i,'publication_date']) is datetime.datetime:
        continue
    else:
        print(i,up_filtered_df.loc[i,'publication_date'])
        
        #update the index after filtering

2005-12-14 00:00:00
       bookID                                              title  \
10340   41865                            Twilight (Twilight  #1)
1697     5907                The Hobbit  or There and Back Again
1462     5107                             The Catcher in the Rye
307       960               Angels & Demons (Robert Langdon  #1)
3           5  Harry Potter and the Prisoner of Azkaban (Harr...
4416    15881  Harry Potter and the Chamber of Secrets (Harry...
1           2  Harry Potter and the Order of the Phoenix (Har...
23         34  The Fellowship of the Ring (The Lord of the Ri...
2114     7613                                        Animal Farm
0           1  Harry Potter and the Half-Blood Prince (Harry ...
2116     7624                                  Lord of the Flies
5017    18135                                   Romeo and Juliet
7312    28187  The Lightning Thief (Percy Jackson and the Oly...
294       890                                    Of Mice and Men
310       968             The Da Vinci Code (Robert Langdon  #2)
284       865                                      The Alchemist
1069     3636                          The Giver (The Giver  #1)
5272    19063                                     The Book Thief
591      1934                                       Little Women
2764    10210                                          Jane Eyre
5409    19501                                    Eat  Pray  Love
299       930                                Memoirs of a Geisha
6425    24178                                    Charlotte's Web
10704   43641                                Water for Elephants
1467     5129                                    Brave New World
4431    15931                    The Notebook (The Notebook  #1)
514      1618  The Curious Incident of the Dog in the Night-Time
898      2956  The Adventures of Huckleberry Finn (Adventures...
9437    37435                            The Secret Life of Bees
1430     4981                                Slaughterhouse-Five
5095    18405                                 Gone with the Wind
2951    10917                                 My Sister's Keeper
3156    11588                                        The Shining
9701    38709                                  Holes (Holes  #1)
2060     7445                                   The Glass Castle
566      1845                                      Into the Wild
4798    17245                                            Dracula
910      2998                                  The Secret Garden
410      1381                                        The Odyssey
1524     5297                         The Picture of Dorian Gray
1475     5139  The Devil Wears Prada (The Devil Wears Prada  #1)
5820    21787                                 The Princess Bride
2959    10964                          Outlander (Outlander  #1)
6515    24583  The Adventures of Tom Sawyer (Adventures of To...

                                                 authors average_rating  \
10340                                    Stephenie Meyer           3.59
1697                                      J.R.R. Tolkien           4.27
1462                                       J.D. Salinger            3.8
307                                            Dan Brown           3.89
3                            J.K. Rowling/Mary GrandPrÃ©           4.56
4416                         J.K. Rowling/Mary GrandPrÃ©           4.42
1                            J.K. Rowling/Mary GrandPrÃ©           4.49
23                                        J.R.R. Tolkien           4.36
2114            George Orwell/Boris Grabnar/Peter Å kerl           3.93
0                            J.K. Rowling/Mary GrandPrÃ©           4.57
2116                                     William Golding           3.68
5017   William Shakespeare/Paul Werstine/Barbara A. M...           3.74
7312                                        Rick Riordan           4.25
294                                       John Steinbeck           3.87
310                                            Dan Brown           3.84
284           Paulo Coelho/Alan R. Clarke/Ã–zdemir Ä°nce           3.86
1069                                          Lois Lowry           4.13
5272              Markus Zusak/Cao XuÃ¢n Viá»‡t KhÆ°Æ¡ng           4.37
591                                    Louisa May Alcott           4.07
2764                     Charlotte BrontÃ«/Michael Mason           4.12
5409                                   Elizabeth Gilbert           3.55
299                                        Arthur Golden           4.11
6425            E.B. White/Garth Williams/Rosemary Wells           4.17
10704                                         Sara Gruen           4.09
1467                                       Aldous Huxley           3.99
4431                                     Nicholas Sparks           4.09
514                                          Mark Haddon           3.88
898     Mark Twain/Guy Cardwell/John Seelye/Walter Trier           3.82
9437                                       Sue Monk Kidd           4.05
1430                                   Kurt Vonnegut Jr.           4.07
5095                                   Margaret Mitchell           4.29
2951                                        Jodi Picoult           4.07
3156                                        Stephen King           4.22
9701                                        Louis Sachar           3.96
2060                                     Jeannette Walls           4.27
566                                         Jon Krakauer           3.98
4798             Bram Stoker/Nina Auerbach/David J. Skal           3.99
910                              Frances Hodgson Burnett           4.13
410                     Homer/Robert Fagles/Bernard Knox           3.76
1524                       Oscar Wilde/Jeffrey Eugenides           4.08
1475                                   Lauren Weisberger           3.74
5820                                     William Goldman           4.26
2959                                      Diana Gabaldon           4.23
6515                 Mark Twain/Guy Cardwell/John Seelye           3.91

             isbn         isbn13 language_code num_pages  ratings_count  \
10340   316015849  9780000000000           eng       501        4597666
1697    618260307  9780000000000           eng       366        2530894
1462    316769177  9780000000000           eng       277        2457092
307    1416524797  9780000000000           eng       736        2418736
3      043965548X  9780000000000           eng       435        2339585
4416    439064864  9780000000000           eng       341        2293963
1       439358078  9780000000000           eng       870        2153167
23      618346252  9780000000000           eng       398        2128944
2114    452284244  9780000000000           eng       122        2111750
0       439785960  9780000000000           eng       652        2095690
2116    140283331  9780000000000           eng       182        2036679
5017    743477111  9780000000000           eng       368        1893917
7312    786838655  9780000000000           eng       375        1766725
294     142000671  9780000000000           eng       103        1755253
310     307277674  9780000000000           eng       489        1679706
284      61122416  9780000000000           eng       197        1631221
1069    385732554  9780000000000           eng       208        1585589
5272    375831002  9780000000000           eng       552        1516367
591     451529308  9780000000000           eng       449        1479727
2764    142437204  9780000000000           eng       532        1409369
5409    143038419  9780000000000           eng       368        1362264
299     739326228  9780000000000           eng       434        1301083
6425     64410935  9780000000000           eng       184        1300470
10704  1565125606  9780000000000           eng       335        1260027
1467     60929871  9780000000000           eng       288        1247221
4431    553816713  9780000000000           eng       214        1090603
514    1400032717  9780000000000           eng       226        1054308
898     142437174  9780000000000           eng       327        1049912
9437    142001740  9780000000000           eng       302        1044725
1430    385333846  9780000000000           eng       275        1001671
5095    446675539  9780000000000           eng      1037         999139
2951    743454537  9780000000000           eng       423         986711
3156    450040186  9780000000000           eng       659         978535
9701    439244196  9780000000000           eng       233         887554
2060   074324754X  9780000000000           eng       288         808656
566     385486804  9780000000000           eng       207         800349
4798    393970124  9780000000000           eng       488         774987
910     517189607  9780000000000           eng       331         764134
410     143039954  9780000000000           eng       541         760871
1524    375751513  9780000000000           eng       272         760717
1475    307275558  9780000000000           eng       432         744569
5820    345418263  9780000000000           eng       456         703676
2959    440242940  9780000000000           eng       850         673350
6515    143039563  9780000000000           eng       244         667590

       text_reviews_count     publication_date  \
10340               94265  2006-09-06 00:00:00
1697                32871  2002-08-15 00:00:00
1462                43499  2001-01-30 00:00:00
307                 21303  2006-04-01 00:00:00
3                   36325  2004-05-01 00:00:00
4416                34692  1999-06-02 00:00:00
1                   29221  2004-09-01 00:00:00
23                  13670  2003-09-05 00:00:00
2114                29677  2003-05-06 00:00:00
0                   27591  2006-09-16 00:00:00
2116                26199  1999-10-01 00:00:00
5017                14637  2004-01-01 00:00:00
7312                47951  2006-03-01 00:00:00
294                 25554  2002-01-08 00:00:00
310                 35877  2006-03-28 00:00:00
284                 55843  1993-05-01 00:00:00
1069                56604  2006-01-24 00:00:00
5272                86881  2006-03-14 00:00:00
591                 18458  2004-04-06 00:00:00
2764                27884  2003-02-04 00:00:00
5409                47620  2007-02-01 00:00:00
299                 19296  2005-11-15 00:00:00
6425                14739  2001-10-01 00:00:00
10704               52759  2007-05-01 00:00:00
1467                20014  1998-09-01 00:00:00
4431                15272  2004-07-05 00:00:00
514                 35537  2004-05-18 00:00:00
898                 11391  2002-12-31 00:00:00
9437                26279  2003-01-28 00:00:00
1430                19056  1999-01-12 00:00:00
5095                15323  1999-04-01 00:00:00
2951                29652  2005-02-01 00:00:00
3156                15105  1980-07-01 00:00:00
9701                17547  2000-09-02 00:00:00
2060                46176  2006-01-17 00:00:00
566                 18198  1997-01-20 00:00:00
4798                14944  1986-05-12 00:00:00
910                 11796  1998-09-01 00:00:00
410                  6557  2006-11-30 00:00:00
1524                17179  2004-06-01 00:00:00
1475                 7247  2006-05-30 00:00:00
5820                13878  2003-07-15 00:00:00
2959                34690  2005-07-26 00:00:00
6515                 6783  2006-02-28 00:00:00

                                      publisher
10340                 Little  Brown and Company
1697                           Houghton Mifflin
1462                             Back Bay Books
307                                Pocket Books
3                               Scholastic Inc.
4416   Arthur A. Levine Books / Scholastic Inc.
1                               Scholastic Inc.
23                    Houghton Mifflin Harcourt
2114                                        NAL
0                               Scholastic Inc.
2116                              Penguin Books
5017                             Simon Schuster
7312                      Disney Hyperion Books
294                               Penguin Books
310                                      Anchor
284                               HarperCollins
1069                                      Ember
5272                            Alfred A. Knopf
591                             Signet Classics
2764                                    Penguin
5409                            Riverhead Books
299         Random House Large Print Publishing
6425                    HarperCollinsPublishers
10704                           Algonquin Books
1467       HarperPerennial / Perennial Classics
4431                                     Bantam
514                                     Vintage
898                            Penguin Classics
9437                              Penguin Books
1430                                 Dial Press
5095                               Warner Books
2951                    Washington Square Press
3156   New English Library (Hodder & Stoughton)
9701                                 Scholastic
2060                                   Scribner
566                                Anchor Books
4798                                     Norton
910                         Children's Classics
410                            Penguin Classics
1524               Random House: Modern Library
1475                               Anchor Books
5820                           Ballantine Books
2959                    Dell Publishing Company
6515                           Penguin Classics
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41

KeyError: 41

In [ ]:

'''
up_filtered_df[up_filtered_df['publication_date'] == "11/31/2000"]
from datetime import date
up_filtered_df.at[8180,"publication_date"] == date(2000, 11, 30)
print(up_filtered_df.loc[8180])
up_filtered_df['year'] = pd.to_datetime(up_filtered_df['publication_date']).dt.year
year_counts = up_filtered_df['year'].value_counts().sort_index()
'''